body{
    background-color: #eceff1;
    overflow-y: visible;
}

.cuerpo{
    padding-left: 300px;
    background-color: #eceff1;
}

.titulo{
    text-align: center;
    font-size: 40px;
    padding-top: 10%;
}